*{
  margin : 0;
}
.App{
  /* height: 100vh; */
background-color:#FAFAFA;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px;
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__signUp{
  display: flex;
  flex-direction:column;
}
.app__headerImage{
  object-fit: contain;
}
.app__posts{
  padding: 12px;
margin-right: 10px;
justify-content: center !important;
align-content: center !important;
align-items: center !important;
}
.starting{
  padding: 48px;
  text-align: center;
}
.starting_items{
margin-top: 16px;
}